body {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background: #07b2ce;
  background: url(56657-O8OSMC-237.png);
  background-repeat: repeat;
}
h2 {
  z-index: 1000;
  font-size: 4rem;
  font-family: 'Audiowide', cursive;
  box-shadow: 0px 0px 22px black;
}

.canvasWrap {
  display: grid;
  align-items: center;
  justify-items: center;
  border: 30px solid #f72d9d;
  box-shadow: 0px 0px 55px 25px #f72d9d;
  background: white;
}

canvas {
  transition: all 2s;
  background: white;
  position: relative;
  width: 800px;
  height: 400px;
  opacity: 1;
}

.clear-canvas-btn {
  margin: 2rem 0;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: white;
  background-color: #f72d9d;
  border: none;
  outline: none;
}

.clear-canvas {
  opacity: 0;
  animation: clear-canvas 1.5s ease-out forwards;
}

@keyframes clear-canvas {
  15%,
  85% {
    transform: translate3d(-2px, 0, 0);
  }

  25%,
  75% {
    transform: translate3d(4px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-8px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(8px, 0, 0);
  }
}
